<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Components &ndash; Styleguide</title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="styles/hgt-syntax.css">
    <link rel="stylesheet" href="styles/hgt.css">

    <!-- Source CSS -->
    
      
        <link rel="stylesheet" href="../_sv_custom.css">
      
    
</head>

  <body class="hgt-body">
    <div class="hgt-pagehead">
      <div class="hgt-container">
        <nav class="hgt-pagehead-nav" role="navigation">
          <a href="index.html"
             class="hgt-pagehead-nav-item ">
            Home
          </a>

          
          <a href="components.html"
             class="hgt-pagehead-nav-item selected">
            Components
          </a>
          
          <a href="libraries.html"
             class="hgt-pagehead-nav-item ">
            Libraries
          </a>
          
          <a href="index.html"
             class="hgt-pagehead-nav-item ">
            
          </a>
          
        </nav>

        <h1 class="hgt-pagehead-title">Styleguide</h1>
      </div>
    </div>

    <div class="hgt-styleguide hgt-container">
      <div class="hgt-columns">
        
          <div class="hgt-column one-fourth">
            <nav class="hgt-menu">
              
                
                  <a href="#banner" class="hgt-menu-item">Banner</a>
                
              
                
                  <a href="#centered" class="hgt-menu-item">Centered</a>
                
              
                
                  <a href="#flag" class="hgt-menu-item">Flag</a>
                
              
                
                  <a href="#grid" class="hgt-menu-item">Grid</a>
                
              
                
                  <a href="#mailchimp" class="hgt-menu-item">Mailchimp</a>
                
              
                
                  <a href="#media" class="hgt-menu-item">Media</a>
                
              
                
                  <a href="#split" class="hgt-menu-item">Split</a>
                
              
                
                  <a href="#two-columns" class="hgt-menu-item">Two Columns</a>
                
              
            </nav>
          </div>
        

        <div class="hgt-column three-fourths">
          <div class="hgt-content">
<h1 id="banner" class="styleguide">Banner</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container full">
          <tr>
            <td>
              <a href="#" class="u-hidden-lap" target="_blank">
                <img src="http://placehold.it/600x400&text=Mobile%20Image" class="u-responsive u-responsive--full" alt="Alt" />
              </a>

              <a href="#" class="u-hidden-mobile" target="_blank">
                <img src="http://placehold.it/500x500&text=Dekstop%20Image" class="u-responsive u-responsive--full" alt="Alt" />
              </a>
            </td>

            <td class="expander"></td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container full"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td&gt;</span>
              <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"u-hidden-lap"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/600x400&amp;text=Mobile%20Image"</span> <span class="na">class=</span><span class="s">"u-responsive u-responsive--full"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;/a&gt;</span>

              <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"u-hidden-mobile"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/500x500&amp;text=Dekstop%20Image"</span> <span class="na">class=</span><span class="s">"u-responsive u-responsive--full"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;/a&gt;</span>
            <span class="nt">&lt;/td&gt;</span>

            <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="centered" class="styleguide">Centered</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td>
              <table class="row u-pvlg">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="t-center">
                          <div class="u-padding-vertical-lg">
                            <a href="#" class="u-hidden-lap" target="_blank">
                              <img src="http://placehold.it/250x250&text=Mobile%20Image" class="u-responsive" alt="Alt" />
                            </a>

                            <a href="#" class="u-hidden-mobile" target="_blank">
                              <img src="http://placehold.it/500x500&text=Dekstop%20Image" class="u-responsive" alt="Alt" />
                            </a>
                          </div>

                          <div>
                            By Someone<br />From Somewhere
                          </div>
                        </td>

                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>

                </tr>
              </table>
            </td>

            <td class="expander"></td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td&gt;</span>
              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-pvlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"twelve columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"u-padding-vertical-lg"</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"u-hidden-lap"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>
                              <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/250x250&amp;text=Mobile%20Image"</span> <span class="na">class=</span><span class="s">"u-responsive"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
                            <span class="nt">&lt;/a&gt;</span>

                            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"u-hidden-mobile"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>
                              <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/500x500&amp;text=Dekstop%20Image"</span> <span class="na">class=</span><span class="s">"u-responsive"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
                            <span class="nt">&lt;/a&gt;</span>
                          <span class="nt">&lt;/div&gt;</span>

                          <span class="nt">&lt;div&gt;</span>
                            By Someone<span class="nt">&lt;br</span> <span class="nt">/&gt;</span>From Somewhere
                          <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;/td&gt;</span>

                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>

                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>
            <span class="nt">&lt;/td&gt;</span>

            <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="flag" class="styleguide">Flag</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td>
              <table class="flag">
                <tr>
                  <td class="flag-body">&nbsp;</td>

                  <td class="flag-image">
                    <a href="#" target="_blank"><img src="http://placehold.it/150x150&text=Centered%20Image" alt="Alt" class="u-responsive u-responsive--full" /></a>
                  </td>

                  <td class="flag-body">
                    <div><a href="#" target="_blank">Some Girl</a></div>
                    <div>Venture Partner at<br /><a href="#" target="_blank">A Good Company</a></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td&gt;</span>
              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"flag"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"flag-body"</span><span class="nt">&gt;</span><span class="ni">&amp;nbsp;</span><span class="nt">&lt;/td&gt;</span>

                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"flag-image"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/150x150&amp;text=Centered%20Image"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="na">class=</span><span class="s">"u-responsive u-responsive--full"</span> <span class="nt">/&gt;&lt;/a&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>

                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"flag-body"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;div&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>Some Girl<span class="nt">&lt;/a&gt;&lt;/div&gt;</span>
                    <span class="nt">&lt;div&gt;</span>Venture Partner at<span class="nt">&lt;br</span> <span class="nt">/&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>A Good Company<span class="nt">&lt;/a&gt;&lt;/div&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>
            <span class="nt">&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="grid" class="styleguide">Grid</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td>
              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="one columns">
                      <tr>
                        <td class="t-center">
                          One
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="eleven columns">
                      <tr>
                        <td class="t-center">
                          Eleven
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="two columns">
                      <tr>
                        <td class="t-center">
                          Two
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="ten columns">
                      <tr>
                        <td class="t-center">
                          Ten
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="three columns">
                      <tr>
                        <td class="t-center">
                          Three
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="nine columns">
                      <tr>
                        <td class="t-center">
                          Nine
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="four columns">
                      <tr>
                        <td class="t-center">
                          Four
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="eight columns">
                      <tr>
                        <td class="t-center">
                          Eight
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="five columns">
                      <tr>
                        <td class="t-center">
                          Five
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="seven columns">
                      <tr>
                        <td class="t-center">
                          Seven
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-pvlg">
                <tr>
                  <td class="wrapper">
                    <table class="six columns">
                      <tr>
                        <td class="t-center">
                          Six
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="six columns">
                      <tr>
                        <td class="t-center">
                          Six
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td&gt;</span>
              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-ptlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"one columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          One
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"eleven columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Eleven
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>

              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-ptlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"two columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Two
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"ten columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Ten
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>

              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-ptlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"three columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Three
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"nine columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Nine
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>

              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-ptlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"four columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Four
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"eight columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Eight
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>

              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-ptlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"five columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Five
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"seven columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Seven
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>

              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row u-pvlg"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"six columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Six
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"six columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          Six
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>
                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>
            <span class="nt">&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="mailchimp" class="styleguide">Mailchimp</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center class="mailchimp u-padding-top-sm u-padding-bottom-md">
        <table class="container">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td class="t-center">
                          <p class="u-text-xs t-center">
                            Copyright &copy; 2015
                          </p>

                          <p class="u-text-xs t-center">
                            Collaborative Fund.
                          </p>

                          <p class="u-text-xs t-center">
                            All rights reserved.
                          </p>

                          <p class="u-text-xs t-center u-ptmd">
                            <a href="*|UNSUB|*">Unsubscribe?</a>
                          </p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center</span> <span class="na">class=</span><span class="s">"mailchimp u-padding-top-sm u-padding-bottom-md"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td&gt;</span>
              <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;tr&gt;</span>
                  <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"wrapper last"</span><span class="nt">&gt;</span>

                    <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"twelve columns"</span><span class="nt">&gt;</span>
                      <span class="nt">&lt;tr&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"t-center"</span><span class="nt">&gt;</span>
                          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"u-text-xs t-center"</span><span class="nt">&gt;</span>
                            Copyright <span class="ni">&amp;copy;</span> 2015
                          <span class="nt">&lt;/p&gt;</span>

                          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"u-text-xs t-center"</span><span class="nt">&gt;</span>
                            Collaborative Fund.
                          <span class="nt">&lt;/p&gt;</span>

                          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"u-text-xs t-center"</span><span class="nt">&gt;</span>
                            All rights reserved.
                          <span class="nt">&lt;/p&gt;</span>

                          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"u-text-xs t-center u-ptmd"</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"*|UNSUB|*"</span><span class="nt">&gt;</span>Unsubscribe?<span class="nt">&lt;/a&gt;</span>
                          <span class="nt">&lt;/p&gt;</span>
                        <span class="nt">&lt;/td&gt;</span>
                        <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                      <span class="nt">&lt;/tr&gt;</span>
                    <span class="nt">&lt;/table&gt;</span>

                  <span class="nt">&lt;/td&gt;</span>
                <span class="nt">&lt;/tr&gt;</span>
              <span class="nt">&lt;/table&gt;</span>
            <span class="nt">&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="media" class="styleguide">Media</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container full">
          <tr>
            <td>
              <div class="media">
                <div class="media-image">
                  <a href="#" class="u-hidden-lap" target="_blank">
                    <img src="http://placehold.it/600x400&text=Mobile%20Image" class="u-responsive u-responsive--full" alt="Alt" />
                  </a>

                  <a href="#" class="u-hidden-mobile" target="_blank">
                    <img src="http://placehold.it/125x125&text=Dekstop%20Image" class="u-responsive u-responsive--full" alt="Alt" />
                  </a>
                </div>

                <div class="media-body">
                  <table>
                    <tr>
                      <td>
                        <div>A witty title.</div>
                        <div>Some text with a <a href="#" target="_blank">Link</a>, and another <a href="" target="_blank">Link</a>.</div>
                        <a href="#" target="_blank">Link</a>
                      </td>

                      <td class="gutter u-tam">
                        {% include 'social_links' %}
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>

            <td class="expander"></td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container full"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td&gt;</span>
              <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-image"</span><span class="nt">&gt;</span>
                  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"u-hidden-lap"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/600x400&amp;text=Mobile%20Image"</span> <span class="na">class=</span><span class="s">"u-responsive u-responsive--full"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
                  <span class="nt">&lt;/a&gt;</span>

                  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"u-hidden-mobile"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/125x125&amp;text=Dekstop%20Image"</span> <span class="na">class=</span><span class="s">"u-responsive u-responsive--full"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
                  <span class="nt">&lt;/a&gt;</span>
                <span class="nt">&lt;/div&gt;</span>

                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-body"</span><span class="nt">&gt;</span>
                  <span class="nt">&lt;table&gt;</span>
                    <span class="nt">&lt;tr&gt;</span>
                      <span class="nt">&lt;td&gt;</span>
                        <span class="nt">&lt;div&gt;</span>A witty title.<span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div&gt;</span>Some text with a <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;</span>, and another <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;</span>.<span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">target=</span><span class="s">"_blank"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;</span>
                      <span class="nt">&lt;/td&gt;</span>

                      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"gutter u-tam"</span><span class="nt">&gt;</span>
                        {% include 'social_links' %}
                      <span class="nt">&lt;/td&gt;</span>

                      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
                    <span class="nt">&lt;/tr&gt;</span>
                  <span class="nt">&lt;/table&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
              <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/td&gt;</span>

            <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"expander"</span><span class="nt">&gt;&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="split" class="styleguide">Split</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td class="split">
              <div class="pull-right">
                <div><a href="#">Some Guy</a></div>
                <div>Founder of Some<br />Company.</div>
              </div>
            </td>

            <td class="split image">
              <div class="pull-left">
                <img src="http://placehold.it/150x150&text=Centered%20Image" alt="Alt" />
              </div>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"body"</span> <span class="na">align=</span><span class="s">"center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;tr&gt;</span>
    <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"center"</span> <span class="na">align=</span><span class="s">"center"</span> <span class="na">valign=</span><span class="s">"top"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;center&gt;</span>
        <span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;tr&gt;</span>
            <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"split"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pull-right"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;div&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Some Guy<span class="nt">&lt;/a&gt;&lt;/div&gt;</span>
                <span class="nt">&lt;div&gt;</span>Founder of Some<span class="nt">&lt;br</span> <span class="nt">/&gt;</span>Company.<span class="nt">&lt;/div&gt;</span>
              <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/td&gt;</span>

            <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"split image"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pull-left"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/150x150&amp;text=Centered%20Image"</span> <span class="na">alt=</span><span class="s">"Alt"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/td&gt;</span>
          <span class="nt">&lt;/tr&gt;</span>
        <span class="nt">&lt;/table&gt;</span>
      <span class="nt">&lt;/center&gt;</span>
    <span class="nt">&lt;/td&gt;</span>
  <span class="nt">&lt;/tr&gt;</span>
<span class="nt">&lt;/table&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="two-columns" class="styleguide">Two Columns</h1>

<table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td>
              <table class="row u-pvlg">
                <tr>
                  <td class="wrapper">
                    <table class="six columns">
                      <tr>
                        <td class="t-center">
                          <div class="u-padding-vertical-lg">
                            When you have content on the left …
                          </div>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>

                  <td class="wrapper last">
                    <table class="six columns">
                      <tr>
                        <td class="t-center">
                          <div class="u-padding-vertical-lg">
                            You will undobtedly want content on the right.
                          </div>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>

                </tr>
              </table>
            </td>

            <td class="expander"></td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<div class="codeBlock">
  <div class="highlight">
    <pre></pre>
  </div>
</div>        </div>
      </div>
    </div>

    <footer class="hgt-footer">
      Built using <a href="https://github.com/trulia/hologram">Hologram</a> and <a href="https://github.com/wearecube/hologram-github-theme">Hologram Github Theme</a>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="scripts/vendor/jquery.waypoints.min.js"></script>
  <script src="scripts/vendor/sticky.min.js"></script>
  <script src="scripts/vendor/infinite.min.js"></script>
  <script src="scripts/hgt.js"></script>

  

  
</body>
</html>
