/*doc
 ---
 title: Grid
 name: grid
 category: Components
 ---

```html_example
<table class="body" align="center">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td>
              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="one columns">
                      <tr>
                        <td class="t-center">
                          One
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="eleven columns">
                      <tr>
                        <td class="t-center">
                          Eleven
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="two columns">
                      <tr>
                        <td class="t-center">
                          Two
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="ten columns">
                      <tr>
                        <td class="t-center">
                          Ten
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="three columns">
                      <tr>
                        <td class="t-center">
                          Three
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="nine columns">
                      <tr>
                        <td class="t-center">
                          Nine
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="four columns">
                      <tr>
                        <td class="t-center">
                          Four
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="eight columns">
                      <tr>
                        <td class="t-center">
                          Eight
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-ptlg">
                <tr>
                  <td class="wrapper">
                    <table class="five columns">
                      <tr>
                        <td class="t-center">
                          Five
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="seven columns">
                      <tr>
                        <td class="t-center">
                          Seven
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row u-pvlg">
                <tr>
                  <td class="wrapper">
                    <table class="six columns">
                      <tr>
                        <td class="t-center">
                          Six
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper last">
                    <table class="six columns">
                      <tr>
                        <td class="t-center">
                          Six
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
```
*/
