<center>
  <table class="container full">
    <tr>
      <td>
        <a href="#" class="u-hidden-lap" target="_blank">
          <img src="http://placehold.it/600x400&text=Mobile%20Image" class="u-responsive u-responsive--full" alt="Alt" />
        </a>

        <a href="#" class="u-hidden-mobile" target="_blank">
          <img src="http://placehold.it/500x500&text=Dekstop%20Image" class="u-responsive u-responsive--full" alt="Alt" />
        </a>
      </td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center>
  <table class="container full">
    <tr>
      <td>
        <div class="media">
          <div class="media-image">
            <a href="#" class="u-hidden-lap" target="_blank">
              <img src="http://placehold.it/600x400&text=Mobile%20Image" class="u-responsive u-responsive--full" alt="Alt" />
            </a>

            <a href="#" class="u-hidden-mobile" target="_blank">
              <img src="http://placehold.it/125x125&text=Dekstop%20Image" class="u-responsive u-responsive--full" alt="Alt" />
            </a>
          </div>

          <div class="media-body">
            <table>
              <tr>
                <td>
                  <div>A witty title.</div>
                  <div>Some text with a <a href="#" target="_blank">Link</a>, and another <a href="" target="_blank">Link</a>.</div>
                  <a href="#" target="_blank">Link</a>
                </td>

                <td class="expander"></td>
              </tr>
            </table>
          </div>
        </div>
      </td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center class="mailchimp u-padding-top-sm u-padding-bottom-md">
  <table class="container">
    <tr>
      <td>
        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="t-center">
                    <p class="u-text-xs t-center">
                      Copyright &copy; 2015
                    </p>

                    <p class="u-text-xs t-center">
                      Collaborative Fund.
                    </p>

                    <p class="u-text-xs t-center">
                      All rights reserved.
                    </p>

                    <p class="u-text-xs t-center u-ptmd">
                      <a href="*|UNSUB|*">Unsubscribe?</a>
                    </p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
