<center>
  <table class="container full">
    <tr>
      <td>
        <a href="#" class="u-hidden-lap" target="_blank">
          <img src="http://placehold.it/600x400&text=Mobile%20Image" class="u-responsive u-responsive--full" alt="Alt" />
        </a>

        <a href="#" class="u-hidden-mobile" target="_blank">
          <img src="http://placehold.it/500x500&text=Dekstop%20Image" class="u-responsive u-responsive--full" alt="Alt" />
        </a>
      </td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center>
  <table class="container full">
    <tr>
      <td>
        <div class="media">
          <div class="media-image">
            <a href="#" class="u-hidden-lap" target="_blank">
              <img src="http://placehold.it/600x400&text=Mobile%20Image" class="u-responsive u-responsive--full" alt="Alt" />
            </a>

            <a href="#" class="u-hidden-mobile" target="_blank">
              <img src="http://placehold.it/125x125&text=Dekstop%20Image" class="u-responsive u-responsive--full" alt="Alt" />
            </a>
          </div>

          <div class="media-body">
            <table>
              <tr>
                <td>
                  <div>A witty title.</div>
                  <div>Some text with a <a href="#" target="_blank">Link</a>, and another <a href="" target="_blank">Link</a>.</div>
                  <a href="#" target="_blank">Link</a>
                </td>

                <td class="gutter u-tam">
                  <a href="#" target="_blank">Link</a>
                </td>

                <td class="expander"></td>
              </tr>
            </table>
          </div>
        </div>
      </td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center class="u-pvxl">
  <table>
    <tr>
      <td class="gutter">&nbsp;</td>

      <td>
        <table class="container wide">
          <tr>
            <td>
              <div class="media">
                <div class="media-image">
                  <div class="t-center u-padding-vertical-lg">
                    When you have content on the top …
                  </div>
                </div>

                <div class="media-body">
                  <div class="t-center u-padding-vertical-lg">
                    You might want it on the side on desk.
                  </div>
                </div>
              </div>
            </td>

            <td class="expander"></td>
          </tr>
        </table>
      </td>

      <td class="gutter u-tam">&nbsp;</td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center class="u-pvxl">
  <table class="container">
    <tr>
      <td>
        <table class="row u-pvlg">
          <tr>
            <td class="wrapper">
              <table class="six columns">
                <tr>
                  <td class="t-center">
                    <div class="u-padding-vertical-lg">
                      When you have content on the left …
                    </div>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>

            <td class="wrapper last">
              <table class="six columns">
                <tr>
                  <td class="t-center">
                    <div class="u-padding-vertical-lg">
                      You will undobtedly want content on the right.
                    </div>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>

          </tr>
        </table>
      </td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center class="u-pvxl">
  <table class="container">
    <tr>
      <td>
        <table class="row u-pvlg">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="t-center">
                    <div class="u-padding-vertical-lg">
                      <a href="#" class="u-hidden-lap" target="_blank">
                        <img src="http://placehold.it/250x250&text=Mobile%20Image" class="u-responsive" alt="Alt" />
                      </a>

                      <a href="#" class="u-hidden-mobile" target="_blank">
                        <img src="http://placehold.it/500x500&text=Dekstop%20Image" class="u-responsive" alt="Alt" />
                      </a>
                    </div>

                    <div>
                      By Someone<br />From Somewhere
                    </div>
                  </td>

                  <td class="expander"></td>
                </tr>
              </table>
            </td>

          </tr>
        </table>
      </td>

      <td class="expander"></td>
    </tr>
  </table>
</center>

<center class="u-pvxl">
  <table class="container">
    <tr>
      <td class="split">
        <div class="pull-right">
          <div><a href="#">Some Guy</a></div>
          <div>Founder of Some<br />Company.</div>
        </div>
      </td>

      <td class="split image">
        <div class="pull-left">
          <img src="http://placehold.it/150x150&text=Centered%20Image" alt="Alt" />
        </div>
      </td>
    </tr>
  </table>
</center>

<center class="u-pvxl">
  <table class="container">
    <tr>
      <td>
        <table class="flag">
          <tr>
            <td class="flag-body">&nbsp;</td>

            <td class="flag-image">
              <a href="#" target="_blank"><img src="http://placehold.it/150x150&text=Centered%20Image" alt="Alt" class="u-responsive u-responsive--full" /></a>
            </td>

            <td class="flag-body">
              <div><a href="#" target="_blank">Some Girl</a></div>
              <div>Venture Partner at<br /><a href="#" target="_blank">A Good Company</a></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>

<center class="mailchimp u-padding-top-sm u-padding-bottom-md">
  <table class="container">
    <tr>
      <td>
        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="t-center">
                    <p class="u-text-xs t-center">
                      Copyright &copy; 2015
                    </p>

                    <p class="u-text-xs t-center">
                      Collaborative Fund.
                    </p>

                    <p class="u-text-xs t-center">
                      All rights reserved.
                    </p>

                    <p class="u-text-xs t-center u-ptmd">
                      <a href="*|UNSUB|*">Unsubscribe?</a>
                    </p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
